<section class="">
    <hr>
    <div ng-if="!isShow">אין נתונים להצגה </div>
    <print-directive ng-if="isShow" print-id="glass"></print-directive>
    <div>
        <table id="glass" ng-if="isShow" class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>חלון/דלת</th>
                <th>חברה</th>
                <th>תיאור</th>
                <th>רוחב X גובהה X כמות</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in glasses track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>{{windowsInfo[key].des}}</td>
                <td>{{windowsInfo[key].sedra_name}} {{windowsInfo[key].sedra_num}}</td>
                <td>{{windowsInfo[key].subject}} </td>
                <td>
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="item in value track by $index" >
                            <td >
                                <div style="direction: ltr" ng-repeat="meda in item track by $index">{{meda}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</section>