<section class="container">
    <hr>
    <print-directive ng-if="isShow" print-id="glass"></print-directive>
    <div>
        <table id="glass" ng-if="isShow" class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>חלון/דלת</th>
                <th>חברה</th>
                <th>תיאור</th>
                <th>רוחב X גובהה X כמות</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in glasses track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>{{windowsInfo[key].des}}</td>
                <td>{{windowsInfo[key].sedra_name}} {{windowsInfo[key].sedra_num}}</td>
                <td>{{windowsInfo[key].subject}} </td>
                <td>
                    <table class="table">
                        <tbody>
                        <tr ng-repeat="item in value track by $index" >
                            <td >
                                <div style="direction: ltr" ng-repeat="meda in item track by $index">{{meda}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</section>

<style>
    @media print {
        /* All your print styles go here */
        footer, header, buttons-directive, add-window-directive, print-directive, pdf {
            display: none;
        }

        th , td{
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #ddd;
        }
    }
</style>