
body{
    direction: rtl;
    padding-bottom: 60px;
    min-width: 760px;
}

/* ################## Add Window Directive ###################*/

.chose-window{
    margin-top: 15px;
    direction: rtl;
}

/* Sidenav  styles
-------------------------------------------------- */



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-width: 760px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 760px;
    /* Set the fixed height of the footer here */

}

.footer-item{
    margin: 3px;
    text-align: center;
    cursor: pointer;
}

.footer-item:hover{
    background-color: #1b6d85;
    color: #fff;
}

/* ##################### UI SELECT RTL ################# */
.ui-select-bootstrap .ui-select-match-text span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    direction: rtl;
    text-align: right;
}
.ui-select-bootstrap .ui-select-toggle>.caret {
    position: absolute;
    height: 10px;
    top: 50%;
    left: 10px !important;
    margin-top: -2px;
}

