<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">כניסה</div>
                <div class="panel-body">


                    <form
                            ng-submit="login(loginForm.$valid)"
                            class="form-horizontal"
                            novalidate="novalidate"
                            name="loginForm"
                            role="form" >

                        <div class="form-group">
                            <label  for="email" class="col-md-4 control-label">אימייל</label>
                            <div class="col-md-6">
                                <input
                                        required="required"
                                        ng-model="email"
                                        id="email"
                                        type="email"
                                        class="form-control"
                                        name="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">סיסמא</label>
                            <div class="col-md-6">
                                <input
                                        required="required"
                                        ng-model="pass"
                                        id="password"
                                        type="password"
                                        class="form-control"
                                        name="password">
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-4">
                            <spne class="error" ng-show="showErrorMessage">אמייל או סיסמא שגויים </spne>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input
                                                ng-model="remember"
                                                ng-true-value="'on'"
                                                ng-false-value="'of'"
                                               type="checkbox"
                                                name="remember">&emsp;זכור אותר
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button
                                        type="submit"
                                        class="btn btn-primary">כניסה
                                    <i class="fa fa-btn fa-sign-in fa-rotate-180"></i>
                                </button>

                                <!--<a class="btn btn-link" href="{{ url('/password/reset') }}">האם שכחת את הסיסמה?</a>-->
                                <a class="btn btn-link">האם שכחת את הסיסמה?</a> <!-- dont forget to make password reset -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .error{
        color: #f00;
    }
</style>