<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">הרשמה</div>
                <div class="panel-body">
                    <form
                            ng-submit="register(registerForm.$valid)"
                            class="form-horizontal"
                            novalidate="novalidate"
                            name="registerForm"
                            role="form" >

                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">שם</label>

                            <div class="col-md-6">
                                <input
                                        required="required"
                                        id="name"
                                        type="text"
                                        ng-minlength="3"
                                        ng-model="newUser.name"
                                        class="form-control"
                                        name="name" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">כתובת אימייל</label>

                            <div class="col-md-6">
                                <input
                                        required="required"
                                        id="email"
                                        type="email"
                                        ng-model="newUser.email"
                                        class="form-control"
                                        name="email">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">סיסמה</label>

                            <div class="col-md-6">
                                <input
                                        required="required"
                                        id="password"
                                        type="password"
                                        ng-minlength="6"
                                        ng-model="newUser.password"
                                        class="form-control"
                                        name="password">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password_confirmation" class="col-md-4 control-label">אישור סיסמה</label>
                            <div class="col-md-6">
                                <input
                                        required="required"
                                        id="password_confirmation"
                                        type="password"
                                        ng-minlength="6"
                                        ng-model="newUser.password_confirmation"
                                        class="form-control"
                                        name="password_confirmation">

                            </div>
                        </div>
                        <span class="errorMesseg col-md-6 col-md-offset-4" ng-if="errorMesseg" >{{errorMesseg}}</span>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button
                                        type="submit"
                                        class="btn btn-primary"> הרשמה
                                    <i class="fa fa-btn fa-user"></i>
                                </button>
                                <button
                                        class="btn btn-warning"
                                        type="reset">איפוס
                                    <i class="fa fa-btn fa-remove"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .errorMesseg{
        color: #f00;
        margin-bottom: 10px;
    }
</style>