<div class="admin-add-window">
    <h3> הוספת חלון </h3>
    <form
            ng-submit="send(addWindowForm.$valid)"
            name="addWindowForm"
            role="form"
            autocomplete="on"
            novalidate="novalidate">

        <div class="row">

            <div class="form-group col-md-2">
                <label for="company" class="control-label">שם חברה</label>
                <input
                        required="required"
                        ng-model="window.company"
                        autocomplete="on"
                        type="text"
                        id="company"
                        class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="funcode" class="control-label">שם פונקציה</label>
                <input
                        required="required"
                        ng-model="window.funcode"
                        type="text"
                        id="funcode"
                        class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="sedraName" class="control-label">שם סדרה</label>
                <input
                        required="required"
                        ng-model="window.sedraName"
                        type="text"
                        autocomplete="on"
                        id="sedraName"
                        class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="sedraNum" class="control-label">מספר סדרה</label>
                <input
                        required="required"
                        ng-model="window.sedraNum"
                        type="text"
                        id="sedraNum"
                        autocomplete="on"
                        class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="rowdsWinds" class="control-label">מספר נתיבים</label>
                <input
                        required="required"
                        ng-model="window.rowdsWinds"
                        type="text"
                        id="rowdsWinds"
                        class="form-control">
            </div>

            <div class="form-group col-md-10 ">
                <label for="des" class="control-label">תיאור חלון</label>
                <input
                        required="required"
                        ng-model="window.des"
                        type="text"
                        autocomplete="on"
                        id="des"
                        class="form-control">
            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="form-group col-md-3">
                <label for="num" class="control-label">מספר פרופילים בחלון לפי קטלוג של החברה</label>
                <input
                        required="required"
                        ng-model="num"
                        type="number"
                        min="1"
                        max="50"
                        id="num"
                        class="form-control">
            </div>


            <div class="form-group col-md-3 ">
                <label for="subject" class="control-label">נושא</label>
                <input
                        required="required"
                        ng-model="window.subject"
                        type="text"
                        id="subject"
                        autocomplete="on"
                        class="form-control">
            </div>

            <div class="col-xs-10">
                <table class="table table-bordered table-striped">
                    <tr ng-repeat="profel in applyChange(num) track by $index">
                        <td>{{$index + 1}}</td>
                        <td class="row">

                            <div class="form-group col-md-2">
                                <input
                                        required="required"
                                        placeholder="מק''ט פרופיל"
                                        ng-model="windowTemp.makat[$index]"
                                        type="text"
                                        class="form-control">
                            </div>

                            <div class="form-group col-md-3">
                                <input
                                        ng-model="windowTemp.profelDes[$index]"
                                        class="form-control"
                                        type="text"
                                        placeholder="תאור"
                                        autocomplete="on"
                                        required="required">
                            </div>

                            <div class="form-group col-md-2">
                                <input
                                        ng-model="windowTemp.cuts[$index]"
                                        class="form-control"
                                        type="text"
                                        placeholder="כמות לחיתוך"
                                        required="required">
                            </div>

                            <div class="form-group col-md-3">
                                <input
                                        ng-model="windowTemp.formola[$index]"
                                        class="form-control"
                                        type="text"
                                        placeholder="נוסחת חיתוך"
                                        required="required">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="form-group col-md-3">
                <label for="abzarnum" class="control-label">מספר אבזרים בחלון לפי קטלוג של החברה</label>
                <input
                        required="required"
                        ng-model="abzarnum"
                        type="number"
                        min="1"
                        max="50"
                        id="abzarnum"
                        class="form-control">
            </div>

            <div class="col-xs-10">
                <table class="table table-bordered table-striped">
                    <tr ng-repeat="abzar in applyChange(abzarnum) track by $index">
                        <td>{{$index + 1}}</td>
                        <td class="row">

                            <div class="form-group col-md-2">
                                <input
                                        required="required"
                                        placeholder="מק''ט אבזר"
                                        ng-model="windowTemp.abzarMakat[$index]"
                                        type="text"
                                        class="form-control">
                            </div>

                            <div class="form-group col-md-2">
                                <input
                                        ng-model="windowTemp.abzarAmount[$index]"
                                        class="form-control"
                                        type="number"
                                        placeholder="כמות "
                                        required="required">
                            </div>

                            <div class="form-group col-md-3">
                                <input
                                        ng-model="windowTemp.abzarNumInSertot[$index]"
                                        class="form-control"
                                        type="number"
                                        placeholder="מס' בשרטוט"
                                        required="required">
                            </div>
                        </td>
                    </tr>
                </table>


                <div class="col-md-12">
                    <hr>
                </div>

                <div class="form-group col-md-5">
                    <label for="atamem" class="control-label">מספר אטמים ומברשות בחלון לפי קטלוג של החברה</label>
                    <input
                            required="required"
                            ng-model="atamem"
                            type="number"
                            min="1"
                            max="50"
                            id="atamem"
                            class="form-control">
                </div>

                <div class="col-xs-10">
                    <table class="table table-bordered table-striped">
                        <tr ng-repeat="atam in applyChange(atamem) track by $index">
                            <td>{{$index + 1}}</td>
                            <td class="row">

                                <div class="form-group col-md-4">
                                    <input
                                            required="required"
                                            placeholder="מק''ט אטם/מברשת"
                                            ng-model="windowTemp.atamMakat[$index]"
                                            type="text"
                                            class="form-control">
                                </div>

                                <div class="form-group col-md-4">
                                    <input
                                            ng-model="windowTemp.atamNumInSertot[$index]"
                                            class="form-control"
                                            type="number"
                                            placeholder="מס' בשרטוט"
                                            required="required">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="form-group col-md-3">
                <label for="zegog" class="control-label">זיגוג בחלון לפי קטלוג של החברה</label>
                <input
                        required="required"
                        ng-model="zegog"
                        type="number"
                        min="1"
                        max="50"
                        id="zegog"
                        class="form-control">
            </div>

            <div class="col-xs-10">
                <table class="table table-bordered table-striped">
                    <tr ng-repeat="atam in applyChange(zegog) track by $index">
                        <td>{{$index + 1}}</td>
                        <td class="row">

                            <div class="form-group col-md-4">
                                <input
                                        required="required"
                                        placeholder="נוסחת חיתוך"
                                        ng-model="windowTemp.glassFormela[$index]"
                                        type="text"
                                        class="form-control">
                            </div>

                            <div class="form-group col-md-4">
                                <input
                                        required="required"
                                        placeholder="כמות"
                                        ng-model="windowTemp.glassAmunt[$index]"
                                        type="number"
                                        class="form-control">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="form-group col-md-2  ">
                <label for="h" class="control-label">גבהים</label>
                <input
                        required="required"
                        ng-model="windowTemp.hl.h"
                        type="number"
                        min="1"
                        id="h"
                        class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="l" class="control-label">רוחבים</label>
                <input
                        required="required"
                        ng-model="windowTemp.hl.l"
                        type="number"
                        min="1"
                        id="l"
                        class="form-control">
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-5 ">
                        <table class="table table-bordered table-striped">
                            <tr ng-repeat="h in applyChange(windowTemp.hl.h) track by $index">
                                <td>{{$index + 1}}</td>
                                <td class="row">

                                    <div class="form-group col-md-4">
                                        <input
                                                required="required"
                                                placeholder="תיאור גובה"
                                                ng-model="windowTemp.hDes[$index]"
                                                type="text"
                                                class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="col-xs-5">
                        <table class="table table-bordered table-striped">
                            <tr ng-repeat="l in applyChange(windowTemp.hl.l) track by $index">
                                <td>{{$index + 1}}</td>
                                <td class="row">

                                    <div class="form-group col-md-4">
                                        <input
                                                required="required"
                                                placeholder="תיאור רוחב"
                                                ng-model="windowTemp.lDes[$index]"
                                                type="text"
                                                class="form-control">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr>
            </div>

            <div class="form-group col-md-3">
                <button
                        type="submit"
                        class="btn btn-primary">שמור
                    <i class="fa fa-btn fa-save fa-rotate-180"></i>
                </button>
            </div>

        </div>


    </form>


    <pre class="col-md-10" style="direction: ltr">{{window | json}}</pre>
    <pre class="col-md-10" style="direction: ltr">{{windowTemp | json}}</pre>
</div>

<style>

    .admin-add-window {
        padding-right: 30px;
        width: 100%;
    }

    .admin-add-window .des-input {
        width: 85%;
    }

    .admin-add-window .row {

        margin-left: 0;

    }

</style>