
<div>
    <ul class="side-menu">
        <!--<li><a><i class="fa fa-home"></i> בית </a></li>-->
        <li><a ui-sref=".addwindow"><i class="fa fa-plus"></i> חלון/דלת </a></li>
        <li><a ui-sref=".addprofel"><i class="fa fa-plus"></i> פרופיל </a></li>
        <li><a ui-sref=".addabzarem"><i class="fa fa-plus"></i> אבזר/אטם/מברשת </a></li>
    </ul>

    <div class="content">
        <ui-view></ui-view>
    </div>
</div>


<style>

    .side-menu{
        width: 20%;
        float: right;
        font-size: 1.25em;
        margin: 0;
        padding: 0;
    }

    .side-menu{
        background-color: #d5d5d5;
        list-style: none;
    }

    .side-menu > li{
        margin-right: 10px;
    }

    .side-menu >li > a{
       text-decoration: none;
        padding: 0 30px;
    }

    .content{
        width: 80%;
        float: left;
    }


</style>

