<section class="container ">

    <div style="overflow: scroll"  ng-repeat="(funcode, windowId) in windowsTable" class="panel panel-info">
        <div class="panel-heading "> {{windowInfo[funcode].des}}</div>
        <div class="panel-body">

            <table id="{{funcode}}" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th ng-repeat="item in windowInfo[funcode].profel_des">{{item}}</th>
                </tr>
                <tr>
                    <th ng-repeat="item in windowInfo[funcode].profel_makat">{{item}}</th>
                </tr>
                </thead>
                <tbody>


                <tr ng-repeat="window in windowId">
                    <td ng-repeat="(key, meda) in window">{{windowInfo[funcode].profel_cuts[key]}} # <br>{{meda}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <pre style="direction: ltr">{{windowsTable | json}}</pre>
    <pre style="direction: ltr">{{windowInfo | json}}</pre>

</section>

<style>
    table{
        text-align: center ;
    }
    table thead tr th{
        text-align: center ;
    }
</style>