<section class="container">
    <hr>
    <print-directive ng-if="isShow" print-id="profel-order"></print-directive>
    <div>
        <table id="profel-order" ng-if="isShow" class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>תמונת פרופיל</th>
                <th>מספר/מק"ט</th>
                <th>תיאור</th>
                <th>כמות מוט</th>
                <th>פחות ממוט</th>
                <th>משקל כולל</th>
                <th>מחיר</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in order track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>pis</td>
                <td>{{key}}</td>
                <td>{{value.profelDes}}</td>
                <td>{{value.motot}}</td>
                <td>{{value.lessMott}}</td>
                <td>{{value.meshkal}}</td>
                <td>price</td>
            </tr>
            </tbody>


        </table>

    </div>
</section>

<style>
    @media print {
        /* All your print styles go here */
        footer, header, buttons-directive, add-window-directive, print-directive, pdf {
            display: none;
        }

        th , td{
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #ddd;
        }
    }
</style>