<section class="">
    <hr>
    <div ng-if="!isShow">אין נתונים להצגה </div>
    <print-directive ng-if="isShow" print-id="profel-order"></print-directive>
    <div>
        <table id="profel-order" ng-if="isShow" class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>תמונת פרופיל</th>
                <th>מספר/מק"ט</th>
                <th>תיאור</th>
                <th>כמות מוט</th>
                <th>פחות ממוט</th>
                <th>משקל כולל</th>
                <th>מחיר</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in order track by $index">
                <th scope="row">{{$index + 1}}</th>
                <td>pis</td>
                <td>{{key}}</td>
                <td>{{value.profelDes}}</td>
                <td>{{value.motot}}</td>
                <td>{{value.lessMott}}</td>
                <td>{{value.meshkal}}</td>
                <td>{{value.meshkal * 32}}</td>
            </tr>
            <tr>
                <td colspan="6"> משקל כולל/מחיר </td>
                <td>{{allMeshkal}} ק"ל</td>
                <td>{{allMeshkal * 32}} ש"ח</td>
                <td style="visibility: hidden"></td>
            </tr>
            </tbody>


        </table>

    </div>
    <!--<pre style="direction: ltr">{{order | json}}</pre>-->
</section>
