<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
                    <!--data-target="#small-screens" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <div>
                <a ng-mouseup="goHome()" ui-sref="home.הוספת חלון" class="navbar-brand brand-name"> אלום </a>
                <span  class="brand-des">אתר למפעלי אלומיניום – לביצוע הצעות מחיר, הזמנות חומר והוראות ייצור</span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a href=""></a></li>
            </ul>

            <!-- left Side Of Navbar -->
            <ul class="nav navbar-nav navbar-left">
                <!-- Authentication Links -->
                <li ><a ng-mouseup="goHome()" ui-sref="home.הוספת חלון"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li ng-if="!user.email"><a ui-sref="login">כניסה</a></li>
                <li ng-if="!user.email"><a ui-sref="register">הרשמה</a></li>

                <li ng-if="user.name" class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.name}}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <!--<li ng-click="logout('logout')"><a><i class="fa fa-btn fa-user"></i>&ensp;איזור אישי </a></li>-->
                        <li ng-if="user.isAdmin"><a ui-sref="admin"><i class="fa fa-btn fa-lock"></i>&ensp;איזור מנהל </a></li>
                        <li ng-click="auth('logout')"><a><i class="fa fa-btn fa-sign-out"></i>&ensp;יציאה </a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class=" collapse navbar-collapse" id="small-screens">-->
            <!--<button class="btn btn-danger hidden-sm hidden-md hidden-lg">wesam swetat</button>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->


    </div><!-- /.container-fluid -->
</nav>


<style>
    .brand-name{
        font-size: xx-large;
        color: #f44336 !important;
    }

    .brand-des{
        display: inline-block;
        margin-top: 18px;
        margin-right: 8px;
        font-size: large;
        color: #9e9e9e;
    }

    .navbar li{
        margin-left: 2px;
    }

    .navbar li:hover{
        cursor:pointer;
        background-color: #ddd;
    }

</style>