<section class="">
    <div>
        <form ng-submit="onSubmit(messageForm)"
              novalidate="novalidate"
              name="messageForm"
              role="form">

            <div class="form-group col-md-10">
                <label for="message" class="control-label">הערות </label>
                <textarea
                        style="height: 200px"
                        required="required"
                        ng-model="message.message"
                        ng-maxlength="250"
                        ng-minlength="25"
                        ng-minlength-err-type="towChar"
                        ng-maxlength-err-type="maxChar"
                        id="message"
                        class="form-control">
                </textarea>
            </div>

            <div class="form-group col-md-3">
                <button
                        type="submit"
                        class="btn btn-primary">שלח
                    <i class="fa fa-btn fa-send fa-rotate-270"></i>
                </button>
                <button
                        class="btn btn-warning"
                        type="reset">איפוס
                    <i class="fa fa-btn fa-remove"></i>
                </button>
            </div>

        </form>

    </div>
    <span ng-if="shoSuccessMessage" class="col-md-12"
          style="color: #0000FF"> הודעתך נשלחה בהצלחה... תודה שכתבת אלינו</span>
</section>