<section class="">
    <div>
        <form ng-submit="onSubmit(messageForm)"
              novalidate="novalidate"
              name="messageForm"
              role="form">

            <div class="form-group col-md-5">
                <label for="company" class="control-label">שם חברה</label>
                <input
                        required="required"
                        ng-model="message.company"
                        type="text"
                        ng-maxlength="15"
                        id="company"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="sedraName" class="control-label">שם סדרה</label>
                <input
                        required="required"
                        ng-model="message.sedraName"
                        type="text"
                        ng-maxlength="15"
                        id="sedraName"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="sedraNum" class="control-label">מס' סדרה</label>
                <input
                        required="required"
                        ng-model="message.sedraNum"
                        type="text"
                        ng-maxlength="15"
                        id="sedraNum"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="email" class="control-label">דוא"ל</label>
                <input
                        ng-model="message.email"
                        type="email"
                        id="email"
                        ng-maxlength="50"
                        placeholder="לא חובה"
                        class="form-control">
            </div>

            <div class="form-group col-md-10">
                <label for="message" class="control-label">הערות </label>
                <textarea
                        ng-model="message.message"
                        id="message"
                        ng-maxlength="250"
                        placeholder="לא חובה"
                        class="form-control">
                </textarea>
            </div>

            <div class="form-group col-md-3">
                <button
                        type="submit"
                        class="btn btn-primary">שלח
                    <i class="fa fa-btn fa-send fa-rotate-270"></i>
                </button>
                <button
                        class="btn btn-warning"
                        type="reset">איפוס
                    <i class="fa fa-btn fa-remove"></i>
                </button>
            </div>

        </form>
    </div>
    <span ng-if="shoSuccessMessage" class="col-md-12" style="color: #0000FF"> הודעתך נשלחה בהצלחה... תודה שכתבת אלינו</span>
</section>