<section class="container">
    <hr>
    <div>
        <form ng-submit="onSubmit(messageForm.$valid)"
              novalidate="novalidate"
              name="messageForm"
              role="form">

            <div class="form-group col-md-5">
                <label for="name" class="control-label">שם חברה</label>
                <input
                        required="required"
                        ng-model="message.sedraName"
                        type="text"
                        id="name"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="phone" class="control-label">שם סדרה</label>
                <input
                        required="required"
                        ng-model="message.phone"
                        type="text"
                        id="phone"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="email" class="control-label">מס' סדרה</label>
                <input
                        required="required"
                        ng-model="message.email"
                        type="number"
                        id="email"
                        class="form-control">
            </div>

            <div class="form-group col-md-5">
                <label for="subject" class="control-label">דוא"ל</label>
                <input
                        ng-model="message.subject"
                        type="email"
                        id="subject"
                        class="form-control">
            </div>

            <div class="form-group col-md-10">
                <label for="message" class="control-label">הערות </label>
                <textarea
                        ng-model="message.message"
                        id="message"
                        class="form-control">
                </textarea>
            </div>

            <div class="form-group col-md-3">
                <button
                        type="submit"
                        class="btn btn-primary">שלח
                    <i class="fa fa-btn fa-send fa-rotate-270"></i>
                </button>
                <button
                        class="btn btn-warning"
                        type="reset">איפוס
                    <i class="fa fa-btn fa-remove"></i>
                </button>
            </div>

        </form>
    </div>
</section>