<div>
    <div style="color: #f00; text-align: center; padding-bottom: 10px;">{{error}}</div>
    <form ng-submit="onSubmit()"
          novalidate="novalidate"
          name="addWindow"
          role="form">

        <div class="row">
            <div ng-repeat="time in getTimes(hl.h) track by $index" class="form-group col-md-2">
                <div>
                       <input
                            required="required"
                            placeholder="{{h[$index]}}"
                            id="height"
                            type="number"
                            ng-minlength="2"
                            min="0"
                            max="600"
                            ng-model="windowHeightWidthAndInfo.height[$index]"
                            class="form-control"
                            name="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="time in getTimes(hl.l) track by $index" class="form-group col-md-2">
                <div>
                    <input
                            required="required"
                            placeholder="{{l[$index]}}"
                            id="width"
                            type="number"
                            ng-minlength="2"
                            min="0"
                            max="600"
                            ng-model="windowHeightWidthAndInfo.width[$index]"
                            class="form-control"
                            name="name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2">
                <div>
                    <input
                            placeholder="מחיר למתר"
                            id="cost"
                            type="number"
                            ng-minlength="2"
                            min="0"
                            ng-model="windowHeightWidthAndInfo.cost"
                            class="form-control"
                            name="name">
                </div>
            </div>

            <div class="form-group col-md-4">
                <div>
                    <input
                            placeholder="תיאור חלון"
                            id="windowDes"
                            type="text"
                            ng-minlength="2"
                            min="0"
                            ng-model="windowHeightWidthAndInfo.windowDes"
                            class="form-control"
                            name="name">
                </div>
            </div>

            <div class="form-group col-md-4">
                <div>
                    <input
                            placeholder="תיאור זכוכית"
                            id="glassDes"
                            type="text"
                            ng-minlength="2"
                            min="0"
                            ng-model="windowHeightWidthAndInfo.glassDes"
                            class="form-control"
                            name="name">
                </div>
            </div>

            <button
                    type="submit"
                    class="btn btn-primary"> הוסף
                <i class="fa fa-btn fa-plus"></i>
            </button>

            <button
                    class="btn btn-warning"
                    type="reset">איפוס
                <i class="fa fa-btn fa-remove"></i>
            </button>
        </div>
    </form>
</div>